html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  max-width: em(1088);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0; }
  html::after, body::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    html, body {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    html, body {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 1025px) {
    html, body {
      padding-left: 5px;
      padding-right: 5px; } }

h1 {
  font-size: 2.5rem; }

img {
  max-width: 100%;
  background-repeat: no-repeat; }

li {
  display: inline; }

a {
  position: relative;
  text-decoration: none; }

header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    header {
      background: url("../images/sphere-2.jpg");
      background-size: cover;
      background-position: center;
      height: 740px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    header {
      background: url("../images/black-bg.jpg");
      height: 600px;
      background-size: cover;
      background-position: center; } }
  @media screen and (min-width: 1025px) {
    header {
      background: url("../images/smartphone.jpg");
      height: 750px;
      background-size: cover;
      background-position: center; } }
  header .nav {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff; }
    header .nav ul {
      text-align: right;
      margin-top: 0;
      padding: 2.1875rem 1.875rem 0 0; }
      header .nav ul li {
        margin-right: 2.5rem;
        position: relative;
        cursor: pointer;
        font-size: 1.125rem; }
  header .info-tags {
    float: right;
    margin-right: 50px; }
    header .info-tags a {
      margin: 10px;
      color: #fa0000; }
      header .info-tags a:hover {
        color: #fff;
        transition: all .2s ease-in; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      header .info-tags {
        margin-right: 100px;
        padding-top: 30px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      header .info-tags {
        padding-top: 25px; } }
    @media screen and (min-width: 1025px) {
      header .info-tags {
        padding-top: 45px; } }
  header .main-heading {
    max-width: em(1088);
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    header .main-heading::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      header .main-heading {
        padding-top: 2.8125rem; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      header .main-heading {
        padding-top: 6.5625rem; } }
    @media screen and (min-width: 1025px) {
      header .main-heading {
        padding-top: 4.0625rem; } }
    header .main-heading h1 {
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      text-shadow: 1px 1px #fa0000; }
      @media screen and (max-width: 736px) and (min-width: 414px) {
        header .main-heading h1 {
          font-size: 3em; } }
      @media screen and (max-width: 1024px) and (min-width: 737px) {
        header .main-heading h1 {
          font-size: 4em;
          margin-top: 1px;
          color: #fff;
          text-shadow: 3px 3px #fa0000; } }
      @media screen and (min-width: 1025px) {
        header .main-heading h1 {
          font-size: 5em;
          margin-top: 30px;
          margin-bottom: 10px; } }
    header .main-heading h2 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 2.5rem; }
      @media screen and (max-width: 736px) and (min-width: 414px) {
        header .main-heading h2 {
          color: #fa0000;
          margin-top: -70px; } }
      @media screen and (max-width: 1024px) and (min-width: 737px) {
        header .main-heading h2 {
          margin-top: -85px;
          color: #fff; } }
      @media screen and (min-width: 1025px) {
        header .main-heading h2 {
          margin-top: -45px; } }

.menu {
  padding: 50px 0px;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  font-family: 'Josefin Sans', sans-serif; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .menu {
      margin-top: 33px;
      padding: 30px 0px;
      margin-left: 234px; } }
  @media screen and (min-width: 1025px) {
    .menu {
      width: 300px;
      height: 300px;
      -webkit-border-radius: 250px;
      -moz-border-radius: 250px;
      border-radius: 250px; } }

.menu:hover {
  background: rgba(0, 0, 0, 0.2); }

.menu li {
  font-size: 40px;
  display: block;
  line-height: 66px; }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .menu li {
      font-size: 35px;
      line-height: 56px; } }
  .menu li a {
    white-space: nowrap;
    color: transparent;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #fff;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear; }

.menu:hover li a {
  text-shadow: 0px 0px 10px #fff; }

.menu li a:hover {
  color: #fff;
  background: #fa0000;
  border-radius: 20px;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

.about {
  max-width: em(1088);
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 0;
  text-align: center; }
  .about::after {
    clear: both;
    content: "";
    display: table; }
  .about h1 {
    margin: 0 0 1.25rem 0;
    font-family: 'Biryani', sans-serif;
    color: #fa0000; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .about h1 {
        font-size: 2.5rem; } }
  .about p {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    display: block;
    margin-right: flex-gutter(12);
    width: flex-grid(10, 12);
    padding-left: 90px;
    padding-right: 90px;
    font-size: 26px; }
    .about p:last-child {
      margin-right: 0; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .about p {
        padding-left: 80px;
        padding-right: 80px; } }
  .about a {
    color: #fa0000; }
    .about a:hover {
      color: #940000; }

.SkillSetContainer {
  height: 640px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  background-color: RGBA(240, 240, 240, 1); }
  .SkillSetContainer::after {
    clear: both;
    content: "";
    display: table; }

.SkillSetContainerLeft {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
  font-size: 26px; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .SkillSetContainerLeft {
      font-size: 25px;
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 40px; } }

.SkillSetContainerLeftHeading {
  font-weight: lighter;
  font-size: 3.5rem;
  color: #fa0000; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .SkillSetContainerLeftHeading {
      font-size: 2.0rem; } }

.SkillSetContainerRight {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 100px;
  padding-right: 90px;
  padding-left: 45px; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .SkillSetContainerRight {
      padding-right: 80px;
      padding-left: 40px;
      padding-bottom: 70px; } }

.SkillSetList {
  list-style: none; }

.SkillSetListItem {
  padding: 1px;
  padding: 4px;
  border-radius: 5px;
  margin: 5px;
  display: block;
  background: #000000; }

.SkillSetListItemName {
  background: #fa0000;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px; }

.html {
  width: 90%; }

.javascript {
  width: 60%; }

.jquery {
  width: 50%; }

.underscore {
  width: 40%; }

.git {
  width: 80%; }

.bourbon {
  width: 70%; }

.work-1 {
  margin: 1.875rem 0 1.25rem 0;
  text-align: center;
  font-family: 'Biryani', sans-serif;
  color: #fa0000;
  text-transform: uppercase; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .work-1 {
      font-size: 2.5rem; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .work-1 {
      margin-top: 100px; } }

@media screen and (max-width: 736px) and (min-width: 414px) {
  .personal-project {
    height: 380px; } }

@media screen and (max-width: 1024px) and (min-width: 737px) {
  .personal-project {
    height: 340px; } }

@media screen and (min-width: 1025px) {
  .personal-project {
    height: 430px; } }

.personal-project .personal-left {
  font-family: 'Josefin Sans', sans-serif;
  float: left;
  display: block;
  margin-right: flex-gutter(12);
  width: flex-grid(6, 12);
  height: 400px;
  width: 700px; }
  .personal-project .personal-left:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .personal-project .personal-left {
      padding-left: 90px;
      padding-right: 90px; } }
  .personal-project .personal-left h2 {
    color: #fa0000;
    font-size: 35px; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .personal-project .personal-left h2 {
        font-size: 30px;
        padding-left: 80px; } }
    @media screen and (min-width: 1025px) {
      .personal-project .personal-left h2 {
        padding-left: 100px; } }
  .personal-project .personal-left p {
    font-size: 26px; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .personal-project .personal-left p {
        font-size: 25px;
        width: 736px;
        padding-left: 80px;
        padding-right: 80px; } }
    @media screen and (min-width: 1025px) {
      .personal-project .personal-left p {
        width: 750px;
        padding-left: 100px; } }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .personal-project .personal-left a {
      margin-left: 187px; } }
  @media screen and (min-width: 1025px) {
    .personal-project .personal-left a {
      padding-left: 100px; } }
  .personal-project .personal-left button {
    font-size: 12px;
    width: 85px;
    height: 30px;
    border-radius: 15px;
    background-color: #fa0000;
    color: #fff;
    cursor: pointer; }
    .personal-project .personal-left button:hover {
      color: #2e0000;
      transition: all .2s ease-in; }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .personal-project .personal-left .personal-button-r {
      margin-right: 60px; } }
  @media screen and (min-width: 1025px) {
    .personal-project .personal-left .personal-button-r {
      margin-right: -30px; } }
  .personal-project .personal-left .skills-used {
    font-size: 25px; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .personal-project .personal-left .skills-used {
        padding-left: 80px; } }

.personal-project .img-personal-right {
  float: left;
  display: block;
  margin-right: flex-gutter(12);
  width: flex-grid(6, 12); }
  .personal-project .img-personal-right:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .personal-project .img-personal-right {
      float: right;
      margin-top: -350px; } }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .personal-project .img-personal-right img {
      width: 70%;
      margin-left: 167px;
      margin-top: -20px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .personal-project .img-personal-right img {
      width: 80%; } }
  @media screen and (min-width: 1025px) {
    .personal-project .img-personal-right img {
      margin-top: -10px;
      padding-left: 85px; } }

.blog-project {
  background-color: RGBA(240, 240, 240, 1); }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .blog-project {
      height: 720px;
      margin-top: 430px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .blog-project {
      margin-top: 105px;
      height: 550px; } }
  @media screen and (min-width: 1025px) {
    .blog-project {
      height: 500px; } }
  .blog-project .blog-right {
    font-family: 'Josefin Sans', sans-serif; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .blog-project .blog-right {
        padding-top: 40px;
        padding-bottom: 50px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .blog-project .blog-right {
        width: 680px;
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 30px;
        padding-top: 25px;
        float: right; } }
    @media screen and (min-width: 1025px) {
      .blog-project .blog-right {
        margin-top: 3.75rem;
        float: right; } }
    .blog-project .blog-right h2 {
      color: #fa0000;
      font-size: 35px; }
      @media screen and (max-width: 736px) and (min-width: 414px) {
        .blog-project .blog-right h2 {
          font-size: 30px;
          padding-left: 80px; } }
    .blog-project .blog-right p {
      font-size: 26px;
      padding-right: 80px; }
      @media screen and (max-width: 736px) and (min-width: 414px) {
        .blog-project .blog-right p {
          font-size: 25px;
          padding-left: 80px; } }
      @media screen and (min-width: 1025px) {
        .blog-project .blog-right p {
          width: 700px; } }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .blog-project .blog-right a {
        padding-left: 105px; } }
    .blog-project .blog-right button {
      font-size: 12px;
      width: 85px;
      height: 30px;
      border-radius: 15px;
      background-color: #fa0000;
      color: #fff;
      cursor: pointer; }
      .blog-project .blog-right button:hover {
        color: #2e0000;
        transition: all .2s ease-in; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .blog-project .blog-right .blog-button-r {
        padding-left: 185px;
        padding-right: 110px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .blog-project .blog-right .blog-button-r {
        padding-right: 60px; } }
    @media screen and (min-width: 1025px) {
      .blog-project .blog-right .blog-button-r {
        padding-right: 70px; } }
    .blog-project .blog-right .skills-used {
      font-size: 25px;
      padding-bottom: 25px; }
      @media screen and (max-width: 736px) and (min-width: 414px) {
        .blog-project .blog-right .skills-used {
          padding-left: 80px; } }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .blog-project .img-blog-left {
      width: 35%;
      margin-left: 235px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .blog-project .img-blog-left {
      width: 25%;
      margin-left: 73px;
      padding-top: 90px; } }
  @media screen and (min-width: 1025px) {
    .blog-project .img-blog-left {
      padding-left: 80px;
      padding-top: 75px; } }

@media screen and (max-width: 736px) and (min-width: 414px) {
  .surf-project {
    height: 810px; } }

@media screen and (max-width: 1024px) and (min-width: 737px) {
  .surf-project {
    height: 470px;
    margin-top: 25px; } }

@media screen and (min-width: 1025px) {
  .surf-project {
    height: 500px; } }

.surf-project .surf-left {
  font-family: 'Josefin Sans', sans-serif;
  float: left;
  display: block;
  margin-right: flex-gutter(12);
  width: flex-grid(6, 12); }
  .surf-project .surf-left:last-child {
    margin-right: 0; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .surf-project .surf-left {
      height: 400px;
      width: 700px;
      padding-top: 40px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .surf-project .surf-left {
      margin-top: -1px;
      width: 600px;
      padding-left: 70px;
      padding-bottom: 30px; } }
  @media screen and (min-width: 1025px) {
    .surf-project .surf-left {
      margin-top: 3.125rem;
      margin-right: 60px; } }
  .surf-project .surf-left h2 {
    color: #fa0000;
    font-size: 35px; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .surf-project .surf-left h2 {
        font-size: 30px;
        padding-left: 80px; } }
    @media screen and (min-width: 1025px) {
      .surf-project .surf-left h2 {
        padding-left: 100px; } }
  .surf-project .surf-left p {
    font-size: 26px; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .surf-project .surf-left p {
        font-size: 25px;
        padding-left: 80px;
        padding-right: 80px; } }
    @media screen and (min-width: 1025px) {
      .surf-project .surf-left p {
        padding-left: 100px;
        width: 750px; } }
  @media screen and (min-width: 1025px) {
    .surf-project .surf-left a {
      padding-left: 100px; } }
  .surf-project .surf-left button {
    font-size: 12px;
    width: 85px;
    height: 30px;
    border-radius: 15px;
    background-color: #fa0000;
    color: #fff;
    cursor: pointer; }
    .surf-project .surf-left button:hover {
      color: #2e0000;
      transition: all .2s ease-in; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .surf-project .surf-left .surf-button-r {
      padding-right: 210px;
      padding-left: 190px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .surf-project .surf-left .surf-button-r {
      padding-right: 60px; } }
  @media screen and (min-width: 1025px) {
    .surf-project .surf-left .surf-button-r {
      margin-right: -35px; } }

@media screen and (max-width: 1024px) and (min-width: 737px) {
  .surf-project .skills-used {
    font-size: 25px; } }

.surf-project .img-surf-right {
  float: left;
  display: block;
  margin-right: flex-gutter(12);
  width: flex-grid(6, 12);
  float: right; }
  .surf-project .img-surf-right:last-child {
    margin-right: 0; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .surf-project .img-surf-right {
      width: 65%;
      margin-top: 50px;
      margin-left: 100px;
      float: left; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .surf-project .img-surf-right {
      margin-top: -315px;
      padding-right: 60px;
      width: 50%; } }
  @media screen and (min-width: 1025px) {
    .surf-project .img-surf-right {
      margin-top: -340px;
      padding-right: 90px; } }

.powell-project {
  background-color: RGBA(240, 240, 240, 1); }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .powell-project {
      height: 662px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .powell-project {
      height: 525px; } }
  @media screen and (min-width: 1025px) {
    .powell-project {
      height: 520px; } }
  .powell-project .powell-right {
    font-family: 'Josefin Sans', sans-serif;
    float: right; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .powell-project .powell-right {
        height: 400px;
        width: 700px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .powell-project .powell-right {
        width: 460px;
        margin-top: 40px;
        padding-right: 60px; } }
    @media screen and (min-width: 1025px) {
      .powell-project .powell-right {
        padding-right: 100px;
        padding-top: 60px; } }
    .powell-project .powell-right h2 {
      color: #fa0000;
      font-size: 35px; }
      @media screen and (max-width: 736px) and (min-width: 414px) {
        .powell-project .powell-right h2 {
          padding-top: 70px;
          font-size: 30px;
          padding-left: 80px; } }
      @media screen and (min-width: 1025px) {
        .powell-project .powell-right h2 {
          padding-left: 100px; } }
    .powell-project .powell-right p {
      font-size: 25px; }
      @media screen and (max-width: 736px) and (min-width: 414px) {
        .powell-project .powell-right p {
          padding-left: 80px;
          padding-right: 80px;
          padding-right: 40px; } }
      @media screen and (max-width: 1024px) and (min-width: 737px) {
        .powell-project .powell-right p {
          font-size: 26px; } }
      @media screen and (min-width: 1025px) {
        .powell-project .powell-right p {
          padding-left: 100px;
          width: 750px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .powell-project .powell-right a {
        margin: 2px;
        margin-right: 161px; } }
    @media screen and (min-width: 1025px) {
      .powell-project .powell-right a {
        padding-left: 100px; } }
    .powell-project .powell-right button {
      font-size: 12px;
      width: 85px;
      height: 30px;
      border-radius: 15px;
      background-color: #fa0000;
      color: #fff;
      cursor: pointer; }
      .powell-project .powell-right button:hover {
        color: #2e0000;
        transition: all .2s ease-in; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .powell-project .powell-right .powell-button-r {
        padding-right: 210px;
        padding-left: 190px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .powell-project .powell-right .powell-button-r {
        margin-right: 60px; } }
    @media screen and (min-width: 1025px) {
      .powell-project .powell-right .powell-button-r {
        margin-right: -30px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .powell-project .skills-used {
      font-size: 25px; } }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .powell-project .img-powell-left {
      width: 55%;
      margin-left: 180px;
      margin-top: -25px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .powell-project .img-powell-left {
      width: 50%;
      padding-top: 190px;
      margin-left: 32px; } }
  @media screen and (min-width: 1025px) {
    .powell-project .img-powell-left {
      float: left;
      width: 45%;
      margin-top: -272px; } }

@media screen and (max-width: 736px) and (min-width: 414px) {
  .swamp-project {
    height: 720px; } }

@media screen and (max-width: 1024px) and (min-width: 737px) {
  .swamp-project {
    height: 520px; } }

@media screen and (min-width: 1025px) {
  .swamp-project {
    height: 500px; } }

.swamp-project .swamp-left {
  font-family: 'Josefin Sans', sans-serif;
  float: left;
  display: block;
  margin-right: flex-gutter(12);
  width: flex-grid(6, 12); }
  .swamp-project .swamp-left:last-child {
    margin-right: 0; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .swamp-project .swamp-left {
      margin-top: 3.125rem; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .swamp-project .swamp-left {
      margin-top: 25px;
      width: 600px;
      padding-right: 70px;
      padding-bottom: 35px; } }
  @media screen and (min-width: 1025px) {
    .swamp-project .swamp-left {
      margin-top: 4.375rem;
      margin-right: 60px; } }
  .swamp-project .swamp-left h2 {
    color: #fa0000;
    font-size: 35px; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .swamp-project .swamp-left h2 {
        padding-left: 80px;
        font-size: 30px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .swamp-project .swamp-left h2 {
        padding-left: 70px; } }
    @media screen and (min-width: 1025px) {
      .swamp-project .swamp-left h2 {
        padding-left: 100px; } }
  .swamp-project .swamp-left p {
    font-size: 25px; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .swamp-project .swamp-left p {
        padding-left: 80px;
        padding-right: 80px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .swamp-project .swamp-left p {
        font-size: 26px;
        padding-left: 70px; } }
    @media screen and (min-width: 1025px) {
      .swamp-project .swamp-left p {
        padding-left: 100px;
        width: 750px; } }
  @media screen and (min-width: 1025px) {
    .swamp-project .swamp-left a {
      padding-left: 100px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .swamp-project .swamp-left .skills-used {
      padding-left: 70px; } }
  .swamp-project .swamp-left button {
    font-size: 12px;
    width: 85px;
    height: 30px;
    border-radius: 15px;
    background-color: #fa0000;
    color: #fff;
    cursor: pointer; }
    .swamp-project .swamp-left button:hover {
      color: #2e0000;
      transition: all .2s ease-in; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .swamp-project .swamp-left .swamp-button-r {
      padding-right: 210px;
      padding-left: 190px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .swamp-project .swamp-left .swamp-button-r {
      margin-right: 60px;
      padding-left: 70px; } }
  @media screen and (min-width: 1025px) {
    .swamp-project .swamp-left .swamp-button-r {
      margin-right: -30px; } }

.swamp-project .img-swamp-right {
  float: left;
  display: block;
  margin-right: flex-gutter(12);
  width: flex-grid(6, 12); }
  .swamp-project .img-swamp-right:last-child {
    margin-right: 0; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .swamp-project .img-swamp-right {
      width: 65%;
      margin-left: 210px;
      padding-top: 60px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .swamp-project .img-swamp-right {
      float: right;
      padding-top: 110px;
      padding-right: 75px; } }
  @media screen and (min-width: 1025px) {
    .swamp-project .img-swamp-right {
      padding-top: 150px;
      padding-left: 50px; } }

.sneaker-project {
  background-color: RGBA(240, 240, 240, 1); }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .sneaker-project {
      height: 920px; } }
  @media screen and (max-width: 1024px) and (min-width: 737px) {
    .sneaker-project {
      height: 610px; } }
  @media screen and (min-width: 1025px) {
    .sneaker-project {
      height: 610px; } }
  .sneaker-project .sneaker-right {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 4.375rem;
    float: right;
    padding-bottom: 35px; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .sneaker-project .sneaker-right {
        margin-top: 21px;
        margin-right: 43px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .sneaker-project .sneaker-right {
        margin-top: 25px;
        width: 500px;
        padding-left: 45px;
        padding-right: 70px; } }
    .sneaker-project .sneaker-right h2 {
      color: #fa0000;
      font-size: 35px; }
      @media screen and (max-width: 736px) and (min-width: 414px) {
        .sneaker-project .sneaker-right h2 {
          font-size: 30px;
          padding-left: 80px; } }
    .sneaker-project .sneaker-right p {
      font-size: 25px; }
      @media screen and (max-width: 736px) and (min-width: 414px) {
        .sneaker-project .sneaker-right p {
          padding-left: 80px;
          padding-right: 80px; } }
      @media screen and (max-width: 1024px) and (min-width: 737px) {
        .sneaker-project .sneaker-right p {
          font-size: 26px; } }
      @media screen and (min-width: 1025px) {
        .sneaker-project .sneaker-right p {
          padding-right: 100px;
          width: 750px; } }
    .sneaker-project .sneaker-right a {
      margin: 2px; }
    .sneaker-project .sneaker-right button {
      font-size: 12px;
      width: 85px;
      height: 30px;
      border-radius: 15px;
      background-color: #fa0000;
      color: #fff;
      cursor: pointer; }
      .sneaker-project .sneaker-right button:hover {
        color: #2e0000;
        transition: all .2s ease-in; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .sneaker-project .sneaker-right .sneaker-button-r {
        padding-right: 210px;
        padding-left: 190px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .sneaker-project .sneaker-right .sneaker-button-r {
        margin-right: 60px; } }
    @media screen and (min-width: 1025px) {
      .sneaker-project .sneaker-right .sneaker-button-r {
        margin-right: 70px; } }
  .sneaker-project .img-sneaker-left {
    padding-top: 150px; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .sneaker-project .img-sneaker-left {
        width: 85%;
        margin-left: 110px;
        margin-top: 30px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .sneaker-project .img-sneaker-left {
        padding-left: 70px;
        width: 50%; } }
    @media screen and (min-width: 1025px) {
      .sneaker-project .img-sneaker-left {
        width: 35%;
        padding-left: 50px; } }

@media screen and (max-width: 736px) and (min-width: 414px) {
  .contact-bkg {
    background: url("../images/black-footer.jpg");
    background-size: cover;
    background-position: center; } }

@media screen and (max-width: 1024px) and (min-width: 737px) {
  .contact-bkg {
    background: url("../images/black-foot-1.jpg");
    background-size: cover;
    background-position: center; } }

@media screen and (min-width: 1025px) {
  .contact-bkg {
    background: url("../images/spiral1.jpg");
    background-size: cover;
    background-position: center; } }

.contact {
  max-width: em(1088);
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .contact::after {
    clear: both;
    content: "";
    display: table; }
  .contact h1 {
    margin: 0 0 25px 0;
    color: #fff;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px #fa0000; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .contact h1 {
        padding-top: 50px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .contact h1 {
        padding-top: 35px; } }
    @media screen and (min-width: 1025px) {
      .contact h1 {
        padding-top: 55px;
        font-size: 60px; } }
  .contact .contact-social {
    display: inline-block;
    width: 22%; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .contact .contact-social {
        margin-top: -10px; } }
    @media screen and (max-width: 1024px) and (min-width: 737px) {
      .contact .contact-social {
        margin-top: -80px; } }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .contact a {
      width: 25%; } }

.social {
  margin: 3.75rem 3.75rem 0 3.75rem;
  color: #fa0000; }
  .social:hover {
    color: #fff;
    transition: all .2s ease-in; }
  @media screen and (max-width: 736px) and (min-width: 414px) {
    .social {
      margin: 1.875rem 1.875rem 0 1.875rem;
      color: #fff; }
      .social:hover {
        color: #fa0000;
        transition: all .2s ease-in; } }

.up-arrow {
  width: 100%;
  height: 90px;
  margin-top: 30px; }
  .up-arrow .footertext {
    color: #fff;
    padding-top: 50px;
    padding-left: 15px;
    font-family: 'Josefin Sans', sans-serif; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .up-arrow .footertext {
        color: #fa0000;
        padding-top: 45px; } }
  .up-arrow h4 {
    color: #fa0000;
    float: right;
    margin-right: 30px;
    font-family: 'Josefin Sans', sans-serif; }
    @media screen and (max-width: 736px) and (min-width: 414px) {
      .up-arrow h4 {
        margin-top: 40px; } }
  .up-arrow .arrow {
    float: right;
    margin-right: 20px;
    color: #fa0000;
    padding: 0; }
    .up-arrow .arrow:hover {
      color: #fff;
      transition: all .2s ease-in; }
