@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

$first-color: rgba(250,0,0,1);
$second-color: darken(rgba(250,0,0,1), 40%);
$third-color: #fff;
$fourth-color: RGBA(240, 240, 240, 1);
$fifth-color: rgba(0,0,0,0.7);
$sixth-color: rgba(0,0,0,0.2);
$seventh-color: #000000;

$small-desktop: new-breakpoint(max-width 1150px min-width 926px 9);
$large-tablet: new-breakpoint(max-width 925px min-width 769px 9);
$mobile: new-breakpoint(max-width 768px min-width 481px 4);
$small-mobile: new-breakpoint(max-width 480px 4);

html, body {
    @include outer-container;
    width: 100%;
    height: 100%;
    line-height: rem(30px);
    margin: 0 auto;
    padding: 0;

    @include media($large-tablet) {
        padding-left: 5px;
        padding-right: 5px;
    }

    @include media($mobile) {
        padding-left: 5px;
        padding-right: 5px;
    }

    @include media($small-mobile) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

h1 {
    font-size: rem(40px);
}

img {
    max-width: 100%;
    height: auto;
}

li {
    display: inline;
}

a {
    position: relative;
    text-decoration: none;
}

header {
    @include fill-parent;
    background:  url('../images/smartphone.jpg');
    background-size: cover;
    height: 100%;

    @include media($mobile) {
        background:  url('../images/coffee-pencil1.jpg');
        background-size: cover;
        height: 100%;
        padding-left: 45px;
    }

    @include media($small-mobile) {
        background:  url('../images/typewriter.jpg');
        background-size: cover;
        height: 100%;
    }

    .nav {
        @include fill-parent;
        font-family: 'Josefin Sans', sans-serif;
        color: $third-color;

        @include media($small-mobile) {
            margin-left: -30px;
        }

        ul {
            text-align: right;
            margin-top: 0;
            padding: rem(35px) rem(30px) 0 0;

            li {
                margin-right: rem(40px);
                position: relative;
                cursor: pointer;
                font-size: rem(18px);
            }
        }
    }

    .info-tags {
        float: right;
        margin-right: 90px;
        padding-top: 40px;

        a {
            margin: 10px;
            color: $first-color;

            &:hover {
                color: $third-color;
                transition: all .2s ease-in;
            }
        }
    }

    .main-heading {
    @include outer-container;
    text-align: center;
    padding-top: rem(160px);

        h1 {
            margin-top: 1px;
            font-size: 5em;
            padding-right: 10px;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            text-shadow: 1px 1px $first-color;

            @include media($mobile) {
                font-size: 4em;
                font-family: 'Josefin Sans', sans-serif;
                text-transform: uppercase;
                text-shadow: 1px 1px $first-color;
            }

            @include media($small-mobile) {
                font-size: 2.5em;
                font-family: 'Josefin Sans', sans-serif;
                text-transform: uppercase;
                text-shadow: 1px 1px $first-color;
                margin-top: -45px;
                padding: 0;
            }

        }

        h2 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 2rem;

            @include media($mobile) {
                color: $third-color;
            }

            @include media($small-mobile) {
                color: $first-color;
            }
        }
    }
}

.menu {
    padding: 50px 0px;
    margin: 0 auto;
    position: relative;
    background: $fifth-color;
    width: 300px;
    height: 300px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    font-family: 'Josefin Sans', sans-serif;

    @include media($mobile) {
        width: 290px;
        height: 290px;
        margin-top: 100px;
        margin-right: 90px;
    }
}

.menu:hover {
    background: $sixth-color;
}

.menu li {
    font-size: 40px;
    display: block;
    line-height: 66px;

    a {
        white-space: nowrap;
        color: transparent;
        display: block;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 0px 3px $third-color;
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        transition: all 0.4s linear;
    }
}

.menu:hover li a {
    text-shadow: 0px 0px 10px $third-color;
}

.menu li a:hover {
    color: $third-color;
    background: $first-color;
    border-radius: 20px;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.about {
    @include outer-container;
    padding: rem(80px) 0;
    text-align: center;


    h1 {
        margin: 0 0 rem(20px) 0;
        font-family: 'Biryani', sans-serif;
        color: $first-color;
    }

    p {
        padding-left: 100px;
        padding-right: 100px;
        font-size: 22px;
        font-family: 'Josefin Sans', sans-serif;
        @include span-columns(10);

        @include media($small-mobile) {
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
        }
    }

    a {
        color: $first-color;

    &:hover {
        color: darken(rgba(250,0,0,1), 20%);
        }
    }
}


.SkillSetContainer {
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    @include clearfix;
    font-family: 'Josefin Sans', sans-serif;
    background-color: $fourth-color;
}

.SkillSetContainerLeft {
    width: 49%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding-left: 5%;
    font-size: 20px;

    @include media($mobile) {
        font-size: 19px;
    }

    @include media($small-mobile) {
        font-size: 19px;
        width: 100%;
        text-align: center;
        padding-right: 20px;
    }
}

.SkillSetContainerLeftHeading {
    font-weight: lighter;
    font-size: 2.5rem;
    color: $first-color;

    @include media($mobile) {
        font-size: 2.0rem;
    }
}

.SkillSetContainerRight {
    width: 49%;
    display: inline-block;
    float: right;
    box-sizing: border-box;
    padding-right: 5%;
    margin-top: 40px;

    @include media($small-mobile) {
        width: 100%;
        margin-right: 20px;
    }
}

.SkillSetList {
    list-style: none;
    margin: 0;
    padding-left: 60px;
}

.SkillSetListItem {
    padding: 1px;
    padding: 4px;
    border-radius: 5px;
    margin: 5px;
    display: block;
    background: $seventh-color;
}

.SkillSetListItemName {
    background: $first-color;
    color: $third-color;
    padding: 2px 10px;
    border-radius: 5px;

}

.html {
    width: 90%;
}

.javascript {
    width: 60%;
}

.jquery {
    width: 50%;
}

.underscore {
    width: 40%;
}

.git {
    width: 80%;
}

.bourbon {
    width: 70%;
}

.work-1 {
    margin: rem(130px) 0 rem(20px) 0;
    text-align: center;
    font-family: 'Biryani', sans-serif;
    color: $first-color;
    text-transform: uppercase;

    @include media($large-tablet) {
        margin-top: 100px;
    }
}

.personal-project {
    height: 500px;

    .personal-left {
        font-family: 'Josefin Sans', sans-serif;
        @include span-columns(6);
        margin-top: rem(130px);
        margin-right: 60px;

        @include media($large-tablet) {
            height: 400px;
            width: 250px;
        }

        @include media($mobile) {
            height: 400px;
            width: 250px;
        }

        @include media($small-mobile) {
            width: 100%;
            text-align: center;
            padding-right: 45px;
        }

        h2 {
            color: $first-color;
            font-size: 30px;
            padding-left: 60px;
        }

        p {
            font-size: 20px;
            padding-left: 60px;

            @include media($large-tablet) {
                font-size: 18px;
                padding: 0;
            }

            @include media($mobile) {
                font-size: 18px;
                padding: 0;
            }
        }

        a {
            padding-left: 50px;

            @include media($large-tablet) {
                padding: 0;
            }

            @include media($mobile) {
                padding: 0;
            }
        }

        button {
            font-size: 12px;
            width: 85px;
            height: 30px;
            border-radius: 15px;
            background-color: $first-color;
            color: $third-color;
            cursor: pointer;

            &:hover {
                color: $second-color;
                transition: all .2s ease-in;
            }
        }
    }

    .img-personal-right {
        @include span-columns(6);

        img {
            margin: rem(120px) 0 0 rem(55px);

            @include media($large-tablet) {
                padding-top: 70px;
            }

            @include media($mobile) {
                width: 55%;
                float: right;
                margin-left: 250px;
                margin-top: -300px;
            }

            @include media($small-mobile) {
                width: 75%;
                margin-top: 20px;
            }
        }
    }
}

.blog-project {
    height: 500px;
    background-color: $fourth-color;

    @include media($large-tablet) {
        margin-top: 105px;
        height: 550px;
    }

    @include media($mobile) {
        height: 550px;
        margin-top: 105px;
    }

    @include media($small-mobile) {
        margin-top: 300px;
        height: 755px;
    }

    .blog-right {
        font-family: 'Josefin Sans', sans-serif;
        margin-top: rem(30px);
        float: right;
        margin-right: 60px;

        @include media($large-tablet) {
            width: 250px;
        }

        @include media($mobile) {
            width: 250px;
        }

        h2 {
            color: $first-color;
            font-size: 30px;

            @include media($mobile) {
                padding: 0;
                margin-left: 25px;
            }

            @include media($small-mobile) {
                text-align: center;
                padding-left: 40px;
            }
        }

        p {
            font-size: 20px;

            @include media($large-tablet) {
                font-size: 18px;
                padding: 0;
            }

            @include media($mobile) {
                font-size: 18px;
                padding: 0;
                margin-left: 30px;
            }

            @include media($small-mobile) {
                font-size: 20px;
                text-align: center;
                padding-left: 45px;
                padding-bottom: 30px;
            }
        }

        a {
            float: right;
            padding: 30px;
            margin-top: -60px;

            @include media($large-tablet) {
                padding: 0;
                margin: 2px;
            }

            @include media($mobile) {
                padding: 0;
                margin: 2px;
            }

            @include media($small-mobile) {
                margin-left: -25px;
                margin-right: 30px;

            }
        }

        button {
            font-size: 12px;
            width: 85px;
            height: 30px;
            border-radius: 15px;
            background-color: $first-color;
            color: $third-color;
            cursor: pointer;

            &:hover {
                color: $second-color;
                transition: all .2s ease-in;
            }

            @include media($large-tablet) {
                padding: 0;
                margin-top: 60px;
            }
        }
    }

    .img-blog-left {
        padding-left: 100px;
        padding-top: 80px;

        @include media($large-tablet) {
            margin-left: -70px;
        }

        @include media($mobile) {
            width: 65%;
            float: left;
            margin-left: -90px;
            margin-top: 30px;
        }

        @include media($small-mobile) {
            width: 100%;
            margin-left: -50px;
        }
    }

}

.surf-project {
    height: 500px;

    @include media($large-tablet) {
        height: 550px;
        margin-top: 25px;
    }

    @include media($small-mobile) {
        height: 770px;
    }

    .surf-left {
        font-family: 'Josefin Sans', sans-serif;
        @include span-columns(6);
        margin-top: rem(130px);
        margin-right: 60px;

        @include media($large-tablet) {
            margin-top: -1px;
            width: 250px;
        }

        @include media($mobile) {
            margin-top: rem(50px);
            margin-right: 150px;
        }

        @include media($small-mobile) {
            width: 100%;
            text-align: center;
            padding-right: 60px;
            margin-top: 40px;
        }

        h2 {
            color: $first-color;
            font-size: 30px;
            padding-left: 60px;
        }

        p {
            font-size: 20px;
            padding-left: 60px;

            @include media($large-tablet) {
                font-size: 18px;
                padding: 0;
            }

            @include media($mobile) {
                font-size: 18px;
                padding: 0;
                margin-right: 250px;
            }
        }

        a {
            padding-left: 50px;

            @include media($large-tablet) {
                padding: 0;
            }

            @include media($mobile) {
                padding: 0;
            }

            @include media($small-mobile) {
                margin-top: -30px;
            }
        }

        button {
            font-size: 12px;
            width: 85px;
            height: 30px;
            border-radius: 15px;
            background-color: $first-color;
            color: $third-color;
            cursor: pointer;

            &:hover {
                color: $second-color;
                transition: all .2s ease-in;
            }
        }
    }

    .img-surf-right {
        @include span-columns(6);
        padding-top: 80px;
        padding-left: 100px;

        @include media($large-tablet) {
            float: right;
        }

        @include media($mobile) {
            width: 65%;
            float: right;
            margin-top: -400px;
        }

        @include media($small-mobile) {
            margin-top: -35px;
            margin-left: -45px;
            width: 100%;
        }
    }
}

.powell-project {
    height: 500px;
    background-color: $fourth-color;

    @include media($large-tablet) {
        height: 550px;
    }

    @include media($mobile) {
        height: 550px;
    }

    @include media($small-mobile) {
        height: 768px;

    }

    .powell-right {
        font-family: 'Josefin Sans', sans-serif;
        margin-top: rem(90px);
        float: right;
        margin-right: 60px;

        @include media($large-tablet) {
            width: 250px;
            margin-top: 40px;
            margin-right: 50px;
        }

        @include media($mobile) {
            width: 250px;
        }

        h2 {
            color: $first-color;
            font-size: 30px;

            @include media($mobile) {
                margin-left: 25px;
                margin-top: -20px;
            }

            @include media($small-mobile) {
                text-align: center;
                padding-left: 40px;
                margin-top: -30px;
            }
        }

        p {
            font-size: 20px;

            @include media($large-tablet) {
                font-size: 18px;
            }

            @include media($mobile) {
                font-size: 18px;
                padding: 0;
                margin-left: 30px;
            }

            @include media($small-mobile) {
                font-size: 20px;
                text-align: center;
                padding-left: 45px;
                padding-bottom: 30px;
            }
        }

        a {
            float: right;
            padding: 30px;
            margin-top: -60px;

            @include media($large-tablet) {
                padding: 0;
                margin: 2px;
            }

            @include media($mobile) {
                padding: 0;
                margin: 2px;
            }

            @include media($small-mobile) {
                margin-left: -25px;
                margin-right: 30px;

            }
        }

        button {
            font-size: 12px;
            width: 85px;
            height: 30px;
            border-radius: 15px;
            background-color: $first-color;
            color: $third-color;
            cursor: pointer;

          &:hover {
                color: $second-color;
                transition: all .2s ease-in;
            }
        }
    }

    .img-powell-left {
        padding-left: 100px;
        padding-top: 80px;

        @include media($large-tablet) {
            margin-left: -70px;
        }

        @include media($mobile) {
            width: 65%;
            float: left;
            margin-left: -90px;
            margin-top: 30px;
        }

        @include media($small-mobile) {
            width: 100%;
            margin-left: -50px;
        }
    }

}

.swamp-project {
    height: 500px;

    @include media($small-mobile) {
        height: 742px;

    }

    .swamp-left {
        font-family: 'Josefin Sans', sans-serif;
        @include span-columns(6);
        margin-top: rem(130px);
        margin-right: 60px;

        @include media($large-tablet) {
            margin-top: 25px;
            width: 250px;
        }

        @include media($mobile) {
            margin-top: rem(50px);
            margin-right: 150px;
        }

        @include media($small-mobile) {
            width: 100%;
            text-align: center;
            padding-right: 60px;
            margin-top: 40px;
        }

        h2 {
            color: $first-color;
            font-size: 30px;
            padding-left: 60px;

            @include media($mobile) {
                margin-left: -35px;
            }
        }

        p {
            font-size: 20px;
            padding-left: 60px;

            @include media($large-tablet) {
                font-size: 18px;
                padding: 0;
            }

            @include media($mobile) {
                font-size: 18px;
                padding: 0;
                margin-right: 250px;
            }
        }

        a {
            padding-left: 50px;

            @include media($large-tablet) {
                padding: 0;
            }

            @include media($mobile) {
                padding: 0;
            }
        }

        button {
            font-size: 12px;
            width: 85px;
            height: 30px;
            border-radius: 15px;
            background-color: $first-color;
            color: $third-color;
            cursor: pointer;

            &:hover {
                color: $second-color;
                transition: all .2s ease-in;
            }
        }
    }

    .img-swamp-right {
        @include span-columns(6);
        padding-top: 80px;
        padding-left: 100px;

        @include media($large-tablet) {
            float: right;
        }

        @include media($mobile) {
            width: 65%;
            float: right;
            margin-top: -400px;
        }

        @include media($small-mobile) {
            margin-top: -35px;
            margin-left: -45px;
            width: 100%;
        }
    }
}

.sneaker-project {
    height: 500px;
    background-color: $fourth-color;

    @include media($large-tablet) {
        height: 635px;
    }

    @include media($mobile) {
        height: 695px;
    }

    @include media($small-mobile) {
        height: 885px;

    }

    .sneaker-right {
        font-family: 'Josefin Sans', sans-serif;
        margin-top: rem(90px);
        float: right;
        margin-right: 60px;

        @include media($large-tablet) {
            width: 250px;
            margin-top: 40px;
            margin-right: 50px;
        }

        @include media($mobile) {
            width: 250px;
            margin-top: 21px;
        }

        h2 {
            color: $first-color;
            font-size: 30px;

            @include media($mobile) {
                margin-left: 35px;
            }

            @include media($small-mobile) {
                text-align: center;
                padding-left: 40px;
                margin-top: -30px;
            }
        }

        p {
            font-size: 20px;

            @include media($large-tablet) {
                font-size: 18px;
            }

            @include media($mobile) {
                font-size: 18px;
                padding: 0;
                margin-left: 30px;
            }

            @include media($small-mobile) {
                font-size: 20px;
                text-align: center;
                padding-left: 45px;
                padding-bottom: 30px;
            }
        }

        a {
            float: right;
            padding: 30px;
            margin-top: -30px;

            @include media($large-tablet) {
                padding: 0;
                margin: 2px;
            }

            @include media($mobile) {
                padding: 0;
                margin: 2px;
            }

            @include media($small-mobile) {
                margin-left: -25px;
                margin-right: 30px;

            }
        }

        button {
            font-size: 12px;
            width: 85px;
            height: 30px;
            border-radius: 15px;
            background-color: $first-color;
            color: $third-color;
            cursor: pointer;

            &:hover {
                color: $second-color;
                transition: all .2s ease-in;
            }
        }
    }

    .img-sneaker-left {
        padding-left: 100px;
        padding-top: 80px;

        @include media($large-tablet) {
            margin-left: -70px;
        }

        @include media($mobile) {
            width: 65%;
            float: left;
            margin-left: -90px;
            margin-top: 30px;
        }

        @include media($small-mobile) {
            width: 100%;
            margin-left: -50px;
        }
    }

}

.contact-bkg {
    background:  url('../images/spiral1.jpg');
    background-size: cover;
    height: 100%;

    @include media($mobile) {
        background:  url('../images/glasses.jpg');
        background-size: cover;
        height: 100%;
    }

    @include media($small-mobile) {
        background:  url('../images/black-and-white-lights-abstract.jpg');
        background-size: cover;
        height: 100%;
    }
}

.contact {
    @include outer-container;
    padding-top: rem(80px);
    text-align: center;

    h1 {
        margin: 0 0 25px 0;
        color: $third-color;
        font-family: 'Biryani', sans-serif;
        text-transform: uppercase;
        text-shadow: 2px 2px $first-color;

        @include media($mobile) {
            color: $first-color;
            font-family: 'Biryani', sans-serif;
            text-transform: uppercase;
            text-shadow: 2px 2px $third-color;
            margin-top: -40px;
        }
    }

    .contact-social {
        display: inline-block;
        margin: 0 5px;

        @include media($mobile) {
            margin: -40px;
            margin-bottom: 200px;
        }
    }
}

.social {
    margin: rem(60px) rem(60px) 0 rem(60px);
    color: $first-color;

    &:hover {
        color: $third-color;
        transition: all .2s ease-in;
    }
}

.up-arrow {
    width: 100%;
    height: 90px;
    margin-top: 30px;

    .footertext {
        color: $third-color;
        padding-top: 50px;
        padding-left: 15px;
        font-family: 'Josefin Sans', sans-serif;

        @include media($mobile) {
            color: $third-color;
            padding-top: 45px;
            padding-left: 15px;
            font-family: 'Josefin Sans', sans-serif;
        }

        @include media($small-mobile) {
            color: $third-color;
            font-size: 13px;
            font-family: 'Josefin Sans', sans-serif;
            padding-top: 30px;
        }
    }

    h4 {
        color: $first-color;
        float: right;
        margin-right: 30px;
        font-family: 'Josefin Sans', sans-serif;

        @include media($mobile) {
            color: $third-color;
            float: right;
            margin-right: 30px;
            margin-top: 40px;
            font-family: 'Josefin Sans', sans-serif;
        }

        @include media($small-mobile) {
            color: $third-color;
            float: right;
            margin-right: 30px;
            margin-top: 40px;
            font-family: 'Josefin Sans', sans-serif;
        }
    }

    .arrow {
        float: right;
        margin-right: 20px;
        color: $first-color;
        padding: 0;

        &:hover {
            color: $third-color;
            transition: all .2s ease-in;
        }
    }
}
